<%- include("partials/header") -%>

  <h1><%= listTitle %></h1>
<div class="container">
<% tasks.forEach(function(task)
  { %>
      <form action="/delete" method="post">
          <input class="form-check-input" type="checkbox" onChange="this.form.submit()" name="checkbox" value ="<%=task._id %>">
          <p><%= task.name %></p>
          <hr class="inList">
          <input type="hidden" name="listName" value="<%=listTitle%>"></input>
      </form>   
 <% });
  %>
</div>

  <form action="/" method="post">
      <input type="text" name="task" autocomplete="off" placeholder="New Task" >
      <button type="submit" name="list" value="<%=listTitle%>" >+</button>
      
  </form>

  

  <div class="lists">
    <h1>Lists</h1>
    <hr class="solid">
  <% lists.forEach(function(list){ %>
    <form action="/listDelete" method="post">
      <button><p>{x}</p></button>
      <a href="/<%=list.name%>"><p><%=list.name%></p></a>
      <input type="hidden" name="delList" value="<%=list._id%>"></input>
    </form>
  <% });
   %>
   <form action="/list" method="post">
    <input type="text" name="newlist" autocomplete="off" placeholder="New List">
    <button type="submit">+</button>
  </form>
  </div>

<%- include("partials/footer") -%> 